Repository NatLibFi/Skosmos, pull requests merged in 2020-05, with the labels that each got.

#975 Add Portuguese translation by Bruno Almeida and Laureano Macedo
  resource/translations/pt/LC_MESSAGES/skosmos.mo
  resource/translations/skosmos_pt.po
Labels: enhancement, translations

#979 Add Brazilian Portuguese translation
  resource/translations/pt_BR/LC_MESSAGES/skosmos.mo
  resource/translations/skosmos_pt_BR.po
Labels: enhancement, translations

#976 Add REST API methods for alphabetical index
  controller/RestController.php
  rest.php
  swagger.json
  tests/RestControllerTest.php
Labels: REST, enhancement

#869 Add 304 to rest controller
  controller/Controller.php
  controller/RestController.php
  controller/WebController.php
  model/Concept.php
  model/Modifiable.php
  model/Vocabulary.php
  model/VocabularyConfig.php
  swagger.json
  tests/ConceptTest.php
  tests/Http304Test.php
  tests/RestControllerTest.php
  tests/VocabularyConfigTest.php
  tests/VocabularyTest.php
  tests/WebControllerTest.php
Labels: enhancement, may slip

#981 Issue640 method for altlabels
  controller/RestController.php
  model/Vocabulary.php
  model/sparql/GenericSparql.php
  swagger.json
  tests/GenericSparqlTest.php
  tests/RestControllerTest.php
Labels: enhancement

#983 Global REST label method
  controller/RestController.php
  rest.php
  swagger.json
  tests/RestControllerTest.php
Labels: REST, enhancement

#984 HTTP date format fixes
  controller/Controller.php
  tests/Http304Test.php
Labels: bug
